<footer>
    <div class="footer-content">
        <div class="footer-content-1 footer-content-same-style">
            <h1 style="margin-bottom: 20px;">About Us?</h1>
            <h2>Culture's</h2>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe perferendis obcaecati dicta quibusdam! Magnam ipsum ex nemo nostrum quis? Alias accusantium ut pariatur iure debitis, dignissimos voluptate harum. Ipsam aut quis aliquam laudantium minus, dolores maxime eos officia commodi eaque?
            </p>
        </div>
        <div class="footer-content-2 footer-content-same-style">
            <h2>Fast Link :</h2>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Culture</a></li>
                <li><a href="#">Artist</a></li>
                <li><a href="#">Location</a></li>
                <li><a href="#">Food</a></li>
            </ul>
        </div>
        <div class="footer-content-2 footer-content-same-style">
            <h2>Connect</h2>
            <ul>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Subsciption fee</a></li>
                <li><a href="#">Carrers</a></li>
                <li><a href="#">Public Relation</a></li>
            </ul>
        </div>
    </div>
</footer>