*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    /* height: 5000px; */
    position: relative;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    /* height: 500px; */
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 10px;
}
nav{
    border-bottom: 1px solid black;
}
nav ul{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;
}
nav ul li {
    list-style: none;
    padding: 10px 0;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
nav ul li a:hover{
    font-weight: bold;
}
main{
    margin-top: 120px;
}
.welcomecontent{
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: rgb(220, 220, 220);
    border-radius: 10px;
}
.welcomecontent h1{
    font-size: 65px;
    padding: 10px;
    text-decoration: underline;
}
.controltrending{
    width: 80%;
    /* margin: auto; */
    margin: 20px auto;
    /* margin-bottom: 20px; */
    border-bottom: 1px solid black;
}
.dot{
    width: fit-content;
    margin: auto;
    display: flex;
}
.dot-sub{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 0.2px solid black;
    background-color: rgb(220, 220, 220);
    margin: 10px;
}
.content {
    margin-top: 20px;
}
.content-set-style{
    width: 90%;
    margin: auto;
    /* background-color: aqua; */
}
.content-title h1{
    font-size: 50px;
    text-decoration: underline;
}
.subcontent-controller{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 2fr 1fr 1fr;
    margin-top: 30px;
}
.subcontent{
    padding: 15px;
    height: fit-content;
}
.subcontent h1{
    padding: 15px 0;
}
.subcontent p{
    padding-bottom: 25px;
}
.subcontent-1{
    border-bottom: 1px solid black;
}
.subcontent-2{
    border-bottom: 1px solid black;
}
.subcontent-3{
    border-bottom: 1px solid black;
}
.artist-controller{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap : 20px;;
    margin-top: 30px;
}
.artist-content p{
    margin-bottom: 20px;
}
.read-more-button{
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}
footer{
    margin-top: 50px;
    background-color:black;
}
.footer-content{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 10px;
}
.footer-content-1 h1,.footer-content-1 h2, .footer-content-1 p{
    color: white;
}
.footer-content-same-style{
    padding: 20px;
}
.footer-content-2 h2{
    color: white;
}
.footer-content-2 ul{
    margin-top: 10px;
}
.footer-content-2 ul li{
    list-style: none;
    padding: 9px 0;
}
.footer-content-2 ul li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.footer-content-2 ul li a:hover{
    text-decoration: underline;
}
@media screen and (max-width:900px){
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid black;
        padding: 10px;
    }
    nav{
        display: none;
    }
    .controltrending{
        display: none;
    }
    main{
        margin-top: 78px;
    }
    .seperatedsign{
        margin: 20px auto;
        height: 1px;
        width: 80%;
        background-color: black;
    }
}