<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style-aboutus-page.css">
</head>
<body>
    <%- include('./partials/header-partials') %>
    <main>
        <div class="container">
            <section class="introduce">
                <h1 class="introduce-component">What Is Culture's?</h1>
                <h1 class="introduce-component">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto sint explicabo numquam ipsam omnis consectetur amet blanditiis voluptates, pariatur earum quis vitae nam vero deleniti at error officiis culpa itaque repellendus libero cum soluta possimus. Veniam eaque, nostrum eligendi, debitis fuga cumque accusamus explicabo tempore rem voluptatibus tempora similique corporis.</h1>
            </section>
            <section class="our-values">
                <div class="our-values-title">
                    <h1>Our Value's</h1>
                </div>
                <div class="our-value-lists">
                    <div class="our-value-component our-value-component-1">
                        <h1>Helping culture to grow!</h1>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate quibusdam excepturi suscipit, repudiandae, doloremque animi odit dolore omnis dolor unde consequuntur hic! Facere, soluta deserunt. Necessitatibus, inventore ipsa? Maxime voluptate, tempora consectetur cupiditate reiciendis architecto autem incidunt aut eligendi magnam, impedit nesciunt. Itaque iste ex accusamus ea porro sequi consequatur!</p>
                    </div>
                    <div class="our-value-component our-value-component-2">
                        <h1>Using Internet, help our artist to reach out new market</h1>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate quibusdam excepturi suscipit, repudiandae, doloremque animi odit dolore omnis dolor unde consequuntur hic! Facere, soluta deserunt. Necessitatibus, inventore ipsa? Maxime voluptate, tempora consectetur cupiditate reiciendis architecto autem incidunt aut eligendi magnam, impedit nesciunt. Itaque iste ex accusamus ea porro sequi consequatur!</p>
                    </div>
                    <div class="our-value-component our-value-component-3">
                        <h1>Being a place where visitor and artist's work's meet</h1>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate quibusdam excepturi suscipit, repudiandae, doloremque animi odit dolore omnis dolor unde consequuntur hic! Facere, soluta deserunt. Necessitatibus, inventore ipsa? Maxime voluptate, tempora consectetur cupiditate reiciendis architecto autem incidunt aut eligendi magnam, impedit nesciunt. Itaque iste ex accusamus ea porro sequi consequatur!</p>
                    </div>
                    <div class="our-value-component our-value-component-4">
                        <h1>Introduce our country culture in modern way!</h1>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate quibusdam excepturi suscipit, repudiandae, doloremque animi odit dolore omnis dolor unde consequuntur hic! Facere, soluta deserunt. Necessitatibus, inventore ipsa? Maxime voluptate, tempora consectetur cupiditate reiciendis architecto autem incidunt aut eligendi magnam, impedit nesciunt. Itaque iste ex accusamus ea porro sequi consequatur!</p>
                    </div>

                </div>
            </section>
            <section class="meet-our-team">
                <div class="meet-our-team-title">
                    <h1>Meet Man Behing The Gun!</h1>
                </div>
                <div class="meet-our-team-lists">
                    <div class="meet-our-team-list meet-our-team-component-1">
                        <div class="meet-our-team-description member-photo">No Photo</div>
                        <h1 class="meet-our-team-description">Person - 1</h1>
                        <h4 class="meet-our-team-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, nam.</h4>
                        <p class="meet-our-team-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum quisquam, fugit quia reiciendis nihil dolor maiores commodi distinctio expedita, enim a reprehenderit impedit praesentium natus mollitia doloribus dolore? Fugit, possimus.</p>
                    </div>
                    <div class="meet-our-team-list meet-our-team-component-2">
                        <div class="meet-our-team-description member-photo">No Photo</div>
                        <h1 class="meet-our-team-description">Person - 2</h1>
                        <h4 class="meet-our-team-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, nam.</h4>
                        <p class="meet-our-team-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum quisquam, fugit quia reiciendis nihil dolor maiores commodi distinctio expedita, enim a reprehenderit impedit praesentium natus mollitia doloribus dolore? Fugit, possimus.</p>
                    </div>
                    <div class="meet-our-team-list meet-our-team-component-3">
                        <div class="meet-our-team-description member-photo">No Photo</div>
                        <h1 class="meet-our-team-description">Person - 3</h1>
                        <h4 class="meet-our-team-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, nam.</h4>
                        <p class="meet-our-team-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum quisquam, fugit quia reiciendis nihil dolor maiores commodi distinctio expedita, enim a reprehenderit impedit praesentium natus mollitia doloribus dolore? Fugit, possimus.</p>
                    </div>
                    <div class="meet-our-team-list meet-our-team-component-4">
                        <div class="meet-our-team-description member-photo">No Photo</div>
                        <h1 class="meet-our-team-description">Person - 4</h1>
                        <h4 class="meet-our-team-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, nam.</h4>
                        <p class="meet-our-team-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum quisquam, fugit quia reiciendis nihil dolor maiores commodi distinctio expedita, enim a reprehenderit impedit praesentium natus mollitia doloribus dolore? Fugit, possimus.</p>
                    </div>
                    <div class="meet-our-team-list meet-our-team-component-5">
                        <div class="meet-our-team-description member-photo">No Photo</div>
                        <h1 class="meet-our-team-description">Person - 5</h1>
                        <h4 class="meet-our-team-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, nam.</h4>
                        <p class="meet-our-team-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum quisquam, fugit quia reiciendis nihil dolor maiores commodi distinctio expedita, enim a reprehenderit impedit praesentium natus mollitia doloribus dolore? Fugit, possimus.</p>
                    </div>
                    <div class="meet-our-team-list meet-our-team-component-6">
                        <div class="meet-our-team-description member-photo">No Photo</div>
                        <h1 class="meet-our-team-description">Person - 6</h1>
                        <h4 class="meet-our-team-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, nam.</h4>
                        <p class="meet-our-team-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum quisquam, fugit quia reiciendis nihil dolor maiores commodi distinctio expedita, enim a reprehenderit impedit praesentium natus mollitia doloribus dolore? Fugit, possimus.</p>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <%- include('./partials/footer-partials') %>

</body>
</html>