<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style-artist-page.css">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/header-partials') %>
    <main>
        <div class="container">
            <div class="main-title">
                <h1>Meet Our Artist</h1>
            </div>
            <div class="artist-section">
                <div class="artist-card">
                    <div class="artist-section-description artist-photo">NO PHOTO</div>
                    <h2 class="artist-section-description">Artist - 1</h2>
                    <h6 class="artist-section-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, tenetur</h6>
                    <p class="artist-section-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, mollitia dolore! Tenetur et, exercitationem facere dicta voluptatum, cumque repellat sapiente cupiditate quisquam doloremque commodi laudantium est quas deserunt enim eos!</p>
                    <button class="artist-section-description button-artist-section-description">More Info</button>
                </div>
                <div class="artist-card">
                    <div class="artist-section-description artist-photo">NO PHOTO</div>
                    <h2 class="artist-section-description">Artist - 2</h2>
                    <h6 class="artist-section-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, tenetur</h6>
                    <p class="artist-section-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, mollitia dolore! Tenetur et, exercitationem facere dicta voluptatum, cumque repellat sapiente cupiditate quisquam doloremque commodi laudantium est quas deserunt enim eos!</p>
                    <button class="artist-section-description button-artist-section-description">More Info</button>
                </div>
                <div class="artist-card">
                    <div class="artist-section-description artist-photo">NO PHOTO</div>
                    <h2 class="artist-section-description">Artist - 3</h2>
                    <h6 class="artist-section-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, tenetur</h6>
                    <p class="artist-section-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, mollitia dolore! Tenetur et, exercitationem facere dicta voluptatum, cumque repellat sapiente cupiditate quisquam doloremque commodi laudantium est quas deserunt enim eos!</p>
                    <button class="artist-section-description button-artist-section-description">More Info</button>
                </div>
                <div class="artist-card">
                    <div class="artist-section-description artist-photo">NO PHOTO</div>
                    <h2 class="artist-section-description">Artist - 4</h2>
                    <h6 class="artist-section-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, tenetur</h6>
                    <p class="artist-section-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, mollitia dolore! Tenetur et, exercitationem facere dicta voluptatum, cumque repellat sapiente cupiditate quisquam doloremque commodi laudantium est quas deserunt enim eos!</p>
                    <button class="artist-section-description button-artist-section-description">More Info</button>
                </div>
                <div class="artist-card">
                    <div class="artist-section-description artist-photo">NO PHOTO</div>
                    <h2 class="artist-section-description">Artist - 5</h2>
                    <h6 class="artist-section-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, tenetur</h6>
                    <p class="artist-section-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, mollitia dolore! Tenetur et, exercitationem facere dicta voluptatum, cumque repellat sapiente cupiditate quisquam doloremque commodi laudantium est quas deserunt enim eos!</p>
                    <button class="artist-section-description button-artist-section-description">More Info</button>
                </div>
            </div>
        </div>
    </main>
    <%- include('./partials/footer-partials') %>
</body>
</html>