<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../css-code/style-homepage.css"> -->
    <link rel="stylesheet" href="/style-homepage.css">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/header-partials') %>
    <main>
        <div class="welcomecontent">
            <h1>What's Trending?</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit praesentium asperiores consequatur voluptate magni? Fugiat, repellendus! Inventore, voluptates odio ratione, aliquam consectetur nostrum reiciendis beatae illum veniam libero magnam impedit tempora quam autem blanditiis numquam cupiditate expedita totam eveniet dolores nemo quos, aliquid ullam. Neque tempora velit ipsum, quaerat vel, voluptatem quasi cumque, tenetur autem deserunt explicabo illo quam officiis blanditiis aspernatur tempore. Adipisci autem explicabo optio. Nam tempore a expedita, eligendi placeat debitis laboriosam id repellat ipsam in velit asperiores dignissimos mollitia sapiente aliquam eveniet quaerat repellendus, distinctio deleniti quis! Numquam voluptatum vitae hic sequi porro fugiat odit iure?</p>
        </div>
        <div class="seperatedsign">

        </div>
        <div class="controltrending">
            <div class="dot">
                <div class="dot-sub"></div>
                <div class="dot-sub"></div>
                <div class="dot-sub"></div>
            </div>
        </div>
    </main>
    <div class="content">
        <div class="content-title content-set-style">
            <h1>Latest Event</h1>
        </div>
        <div class="content-set-style subcontent-controller">
            <div class=" subcontent subcontent-1">
                <h1>Nyepi</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae quaerat eum, nisi autem quo sequi distinctio in magnam accusamus reiciendis soluta cum accusantium, nulla quae ex fuga quis voluptate itaque sunt nam non et, voluptatibus voluptatum? Qui id exercitationem et illo illum veniam culpa dolorum ex voluptatem molestiae consequatur facilis vero pariatur modi praesentium numquam omnis distinctio sequi aperiam, ipsa quam? Facilis iste reiciendis dolor veritatis doloribus qui expedita quisquam obcaecati saepe. Sint excepturi, labore recusandae est laborum, magni similique sed reprehenderit vero, omnis ipsa qui. Facere ad itaque provident voluptate repellendus omnis quae incidunt hic! Beatae, dolore. Asperiores, reiciendis.</p>
                <a href=""class="read-more-button">Read More.</a>
            </div>
            <div class=" subcontent subcontent-2">
                <h1>Galungan</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, voluptatibus sunt quia deleniti suscipit distinctio totam dicta excepturi minus libero asperiores nesciunt ex voluptatum doloremque, odio autem. Accusamus, ipsa dolore? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, quaerat!</p>
                <a href="" class="read-more-button">Read More.</a>
            </div>
            <div class=" subcontent subcontent-3">
                <h1>Kuningan</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero non perferendis nisi quia eligendi quod fugiat, voluptatum eveniet in odio debitis beatae neque tempora autem voluptates quas. Enim perspiciatis sapiente illo quae minima architecto asperiores aliquam, eum quia? Molestiae, qui aperiam odio aspernatur sed minus provident in eius beatae cumque!</p>
                <a href="" class="read-more-button">Read More.</a>
            </div>
        </div>
        <div class="content-title content-set-style">
            <h1>Popular Event</h1>
        </div>
        <div class="content-set-style subcontent-controller">
            <div class=" subcontent subcontent-1">
                <h1>Nyepi</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae quaerat eum, nisi autem quo sequi distinctio in magnam accusamus reiciendis soluta cum accusantium, nulla quae ex fuga quis voluptate itaque sunt nam non et, voluptatibus voluptatum? Qui id exercitationem et illo illum veniam culpa dolorum ex voluptatem molestiae consequatur facilis vero pariatur modi praesentium numquam omnis distinctio sequi aperiam, ipsa quam? Facilis iste reiciendis dolor veritatis doloribus qui expedita quisquam obcaecati saepe. Sint excepturi, labore recusandae est laborum, magni similique sed reprehenderit vero, omnis ipsa qui. Facere ad itaque provident voluptate repellendus omnis quae incidunt hic! Beatae, dolore. Asperiores, reiciendis.</p>
                <a href="" class="read-more-button">Read More.</a>
            </div>
            <div class=" subcontent subcontent-2">
                <h1>Galungan</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, voluptatibus sunt quia deleniti suscipit distinctio totam dicta excepturi minus libero asperiores nesciunt ex voluptatum doloremque, odio autem. Accusamus, ipsa dolore? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, quaerat!</p>
                <a href="" class="read-more-button">Read More.</a>
            </div>
            <div class=" subcontent subcontent-3">
                <h1>Kuningan</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero non perferendis nisi quia eligendi quod fugiat, voluptatum eveniet in odio debitis beatae neque tempora autem voluptates quas. Enim perspiciatis sapiente illo quae minima architecto asperiores aliquam, eum quia? Molestiae, qui aperiam odio aspernatur sed minus provident in eius beatae cumque!</p>
                <a href=""class="read-more-button">Read More.</a>
            </div>
        </div>
        <div class="content-title content-set-style">
            <h1>Meet the Artist!</h1>
        </div>
        <div class="content-set-style artist-controller">
            <div class="artist">
                <div class="artist-title">
                    <h1>Artist</h1>
                </div>
                <div class="artist-content">
                    <h6>Lorem ipsum dolor, sit amet consectetur adipisicing.</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, rem? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem, quaerat!</p>
                    <a href="" class="read-more-button">Read More.</a>
                </div>
            </div>
            <div class="artist">
                <div class="artist-title">
                    <h1>Artist</h1>
                </div>
                <div class="artist-content">
                    <h6>Lorem ipsum dolor, sit amet consectetur adipisicing.</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, rem? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem, quaerat!</p>
                    <a href="" class="read-more-button">Read More.</a>
                </div>
            </div>
            <div class="artist">
                <div class="artist-title">
                    <h1>Artist</h1>
                </div>
                <div class="artist-content">
                    <h6>Lorem ipsum dolor, sit amet consectetur adipisicing.</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, rem? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem, quaerat!</p>
                    <a href="" class="read-more-button">Read More.</a>
                </div>
            </div>
            <div class="artist">
                <div class="artist-title">
                    <h1>Artist</h1>
                </div>
                <div class="artist-content">
                    <h6>Lorem ipsum dolor, sit amet consectetur adipisicing.</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, rem? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem, quaerat!</p>
                    <a href="" class="read-more-button">Read More.</a>
                </div>
            </div>
        </div>
    </div>
    <%- include('./partials/footer-partials') %>
</body>
</html>