<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style-location-page.css">
</head>
<body>
    <%- include('./partials/header-partials') %>
    <main>
        <div class="container">
            <section class="brief">
                <h1 class="brief-component">Indonesia</h1>
                <p class="brief-component">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, consequuntur saepe. Totam, fugit! Sequi, quo neque. Iure, perferendis. Dolores aperiam laudantium necessitatibus vel maiores sint minus soluta autem placeat sed nesciunt rerum doloribus quia sapiente, voluptates suscipit numquam, error amet? In quia maiores numquam modi nam iusto neque odit velit?</p>
            </section>
            <section class="location-list">
                <div class="location-list-title">
                    <h1>Let's Look Our Culture!</h1>
                </div>
                <div class="location-list-cards">
                    <div class="location-list-card">
                        <div class="location-list-card-component location-list-card-photo">NO PHOTO</div>
                        <h2 class="location-list-card-component">Location-1</h2>
                        <h6 class="location-list-card-component">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit, ea.</h6>
                        <p class="location-list-card-component">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, doloremque facere. Sint in velit deserunt culpa repellendus consectetur a sunt hic? Deserunt provident tempora architecto quasi nulla sequi perspiciatis voluptatibus?</p>
                        <button class="location-list-card-component location-list-card-button">More Info</button>
                    </div>
                    <div class="location-list-card">
                        <div class="location-list-card-component location-list-card-photo">NO PHOTO</div>
                        <h2 class="location-list-card-component">Location-1</h2>
                        <h6 class="location-list-card-component">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit, ea.</h6>
                        <p class="location-list-card-component">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, doloremque facere. Sint in velit deserunt culpa repellendus consectetur a sunt hic? Deserunt provident tempora architecto quasi nulla sequi perspiciatis voluptatibus?</p>
                        <button class="location-list-card-component location-list-card-button">More Info</button>
                    </div>
                    <div class="location-list-card">
                        <div class="location-list-card-component location-list-card-photo">NO PHOTO</div>
                        <h2 class="location-list-card-component">Location-1</h2>
                        <h6 class="location-list-card-component">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit, ea.</h6>
                        <p class="location-list-card-component">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, doloremque facere. Sint in velit deserunt culpa repellendus consectetur a sunt hic? Deserunt provident tempora architecto quasi nulla sequi perspiciatis voluptatibus?</p>
                        <button class="location-list-card-component location-list-card-button">More Info</button>
                    </div>
                    <div class="location-list-card">
                        <div class="location-list-card-component location-list-card-photo">NO PHOTO</div>
                        <h2 class="location-list-card-component">Location-1</h2>
                        <h6 class="location-list-card-component">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit, ea.</h6>
                        <p class="location-list-card-component">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, doloremque facere. Sint in velit deserunt culpa repellendus consectetur a sunt hic? Deserunt provident tempora architecto quasi nulla sequi perspiciatis voluptatibus?</p>
                        <button class="location-list-card-component location-list-card-button">More Info</button>
                    </div>
                    <div class="location-list-card">
                        <div class="location-list-card-component location-list-card-photo">NO PHOTO</div>
                        <h2 class="location-list-card-component">Location-1</h2>
                        <h6 class="location-list-card-component">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit, ea.</h6>
                        <p class="location-list-card-component">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, doloremque facere. Sint in velit deserunt culpa repellendus consectetur a sunt hic? Deserunt provident tempora architecto quasi nulla sequi perspiciatis voluptatibus?</p>
                        <button class="location-list-card-component location-list-card-button">More Info</button>
                    </div>
                    <div class="location-list-card">
                        <div class="location-list-card-component location-list-card-photo">NO PHOTO</div>
                        <h2 class="location-list-card-component">Location-1</h2>
                        <h6 class="location-list-card-component">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit, ea.</h6>
                        <p class="location-list-card-component">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, doloremque facere. Sint in velit deserunt culpa repellendus consectetur a sunt hic? Deserunt provident tempora architecto quasi nulla sequi perspiciatis voluptatibus?</p>
                        <button class="location-list-card-component location-list-card-button">More Info</button>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <%- include('./partials/footer-partials') %>
</body>
</html>