footer{
    margin-top: 50px;
    background-color:black;
}
.footer-content{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 10px;
}
.footer-content-1 h1,.footer-content-1 h2, .footer-content-1 p{
    color: white;
}
.footer-content-same-style{
    padding: 20px;
}
.footer-content-2 h2{
    color: white;
}
.footer-content-2 ul{
    margin-top: 10px;
}
.footer-content-2 ul li{
    list-style: none;
    padding: 9px 0;
}
.footer-content-2 ul li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.footer-content-2 ul li a:hover{
    text-decoration: underline;
}